In [16]:
import pandas as pd

qualifying_results_df = pd.read_csv('../f1db_data/f1db-races-qualifying-results.csv')
pole_position = qualifying_results_df[qualifying_results_df['positionNumber'] == 1]
pole_count = pole_position.groupby(['positionNumber', 'driverId']).size().reset_index(name = 'count')
pole_count = pole_count.sort_values(by = ['count'], ascending = False)
pole_count

     positionNumber            driverId  count
65              1.0      lewis-hamilton    105
70              1.0  michael-schumacher     69
4               1.0        ayrton-senna     65
96              1.0    sebastian-vettel     57
69              1.0      max-verstappen     45
..              ...                 ...    ...
77              1.0     nico-hulkenberg      1
13              1.0       cliff-allison      1
82              1.0       oscar-piastri      1
83              1.0    pastor-maldonado      1
107             1.0  wolfgang-von-trips      1

[108 rows x 3 columns]

In [7]:
qualifying_results_one_df = pd.read_csv('../f1db_data/f1db-races-qualifying-1-results.csv')
qualifying_results_one_df

,raceId,year,round,positionDisplayOrder,positionNumber,positionText,driverNumber,driverId,constructorId,engineManufacturerId,...,q1Millis,q2,q2Millis,q3,q3Millis,gap,gapMillis,interval,intervalMillis,laps
0,329,1980,1,1,1,1,27,alan-jones,williams,ford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,329,1980,1,2,2,2,26,jacques-laffite,ligier,ford,...,NaN,NaN,NaN,NaN,NaN,+0.270,270.0,+0.270,270.0,NaN
2,329,1980,1,3,3,3,25,didier-pironi,ligier,ford,...,NaN,NaN,NaN,NaN,NaN,+0.470,470.0,+0.200,200.0,NaN
3,329,1980,1,4,4,4,11,mario-andretti,lotus,ford,...,NaN,NaN,NaN,NaN,NaN,+1.610,1610.0,+1.140,1140.0,NaN
4,329,1980,1,5,5,5,29,riccardo-patrese,arrows,ford,...,NaN,NaN,NaN,NaN,NaN,+1.840,1840.0,+0.230,230.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7702,737,2005,6,14,14,14,20,patrick-friesacher,minardi,cosworth,...,NaN,NaN,NaN,NaN,NaN,+4.930,4930.0,+1.757,1757.0,3.0
7703,737,2005,6,15,15,15,21,christijan-albers,minardi,cosworth,...,NaN,NaN,NaN,NaN,NaN,+5.585,5585.0,+0.655,655.0,3.0
7704,737,2005,6,16,16,16,18,tiago-monteiro,jordan,toyota,...,NaN,NaN,NaN,NaN,NaN,+5.764,5764.0,+0.179,179.0,3.0
7705,737,2005,6,17,17,17,19,narain-karthikeyan,jordan,toyota,...,NaN,NaN,NaN,NaN,NaN,+5.830,5830.0,+0.066,66.0,3.0
7706,737,2005,6,18,18,18,17,ralf-schumacher,toyota,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0

In [8]:
qualifying_results_two_df = pd.read_csv('../f1db_data/f1db-races-qualifying-2-results.csv')
qualifying_results_two_df

,raceId,year,round,positionDisplayOrder,positionNumber,positionText,driverNumber,driverId,constructorId,engineManufacturerId,...,q1Millis,q2,q2Millis,q3,q3Millis,gap,gapMillis,interval,intervalMillis,laps
0,329,1980,1,1,1.0,1,27,alan-jones,williams,ford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,329,1980,1,2,2.0,2,5,nelson-piquet,brabham,ford,...,NaN,NaN,NaN,NaN,NaN,+0.190,190.0,+0.190,190.0,NaN
2,329,1980,1,3,3.0,3,12,elio-de-angelis,lotus,ford,...,NaN,NaN,NaN,NaN,NaN,+0.630,630.0,+0.440,440.0,NaN
3,329,1980,1,4,4.0,4,2,gilles-villeneuve,ferrari,ferrari,...,NaN,NaN,NaN,NaN,NaN,+1.240,1240.0,+0.610,610.0,NaN
4,329,1980,1,5,5.0,5,25,didier-pironi,ligier,ford,...,NaN,NaN,NaN,NaN,NaN,+1.320,1320.0,+0.080,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7536,737,2005,6,14,14.0,14,21,christijan-albers,minardi,cosworth,...,NaN,NaN,NaN,NaN,NaN,+6.696,6696.0,+0.741,741.0,3.0
7537,737,2005,6,15,15.0,15,18,tiago-monteiro,jordan,toyota,...,NaN,NaN,NaN,NaN,NaN,+7.389,7389.0,+0.693,693.0,3.0
7538,737,2005,6,16,16.0,16,19,narain-karthikeyan,jordan,toyota,...,NaN,NaN,NaN,NaN,NaN,+7.687,7687.0,+0.298,298.0,3.0
7539,737,2005,6,17,17.0,17,17,ralf-schumacher,toyota,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
7540,737,2005,6,18,18.0,18,10,juan-pablo-montoya,mclaren,mercedes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN